In [1]:
import pandas as pd
import json

In [2]:
# approach 1 (lengthy)
# converting the json file to a df

with open("blockbusters.json") as f:
    data = json.load(f)
    
df = pd.DataFrame(data)

In [3]:
type(data)

list

In [4]:
df.genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 992.0+ bytes

In [6]:
# apprroach 2 

# converting the json file to a df

pd.read_json("blockbusters.json")

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [7]:
df.genres[0] # nested columns

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [8]:
df.belongs_to_collection[1]

{'id': 87096,
 'name': 'Avatar Collection',
 'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
 'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'}

In [9]:
 # we can normalize the above nested column 
    
pd.json_normalize(data = data, sep= '_')

,title,id,revenue,genres,runtime,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/nslJVsO58Etqkk17oXMuVK4gNOF.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,NaN
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,NaN,NaN,NaN,NaN,NaN
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/uv63yAGg1zETAs1XQsOQpava87l.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,NaN
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.0,Black Panther Collection,/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",152,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,NaN

In [10]:

pd.json_normalize(data = data, sep= '_').genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [11]:

# for above kind of data

#https://towardsdatascience.com/all-pandas-json-normalize-you-should-know-for-flattening-json-13eae1dfb7dd
pd.json_normalize(data = data, record_path ='genres')

       id             name
0      12        Adventure
1     878  Science Fiction
2      28           Action
3      28           Action
4      12        Adventure
5      14          Fantasy
6     878  Science Fiction
7      28           Action
8      12        Adventure
9     878  Science Fiction
10     14          Fantasy
11     12        Adventure
12     28           Action
13    878  Science Fiction
14     18            Drama
15  10749          Romance
16     53         Thriller
17     28           Action
18     12        Adventure
19    878  Science Fiction
20     53         Thriller
21     12        Adventure
22  10751           Family
23    878  Science Fiction
24     28           Action
25     12        Adventure
26     28           Action
27     53         Thriller
28     28           Action
29     12        Adventure
30    878  Science Fiction
31     28           Action
32     12        Adventure
33     14          Fantasy
34    878  Science Fiction
35     14          Fantasy
36     12        Adventure
37     14          Fantasy
38     12        Adventure
39    878  Science Fiction
40     28           Action
41     16        Animation
42  10751           Family
43     12        Adventure
44     28           Action
45     12        Adventure
46    878  Science Fiction
47     16        Animation
48     12        Adventure
49  10751           Family
50  10751           Family
51     14          Fantasy
52  10749          Romance
53     28           Action
54     12        Adventure
55     16        Animation
56  10751           Family

In [12]:

pd.json_normalize(data = data, record_path ='genres', meta=["title","id"],\
                 record_prefix='genre_')

,genre_id,genre_name,title,id
0,12,Adventure,Avengers: Endgame,299534
1,878,Science Fiction,Avengers: Endgame,299534
2,28,Action,Avengers: Endgame,299534
3,28,Action,Avatar,19995
4,12,Adventure,Avatar,19995
5,14,Fantasy,Avatar,19995
6,878,Science Fiction,Avatar,19995
7,28,Action,Star Wars: The Force Awakens,140607
8,12,Adventure,Star Wars: The Force Awakens,140607
9,878,Science Fiction,Star Wars: The Force Awakens,140607
10,14,Fantasy,Star Wars: The Force Awakens,140607
11,12,Adventure,Avengers: Infinity War,299536
12,28,Action,Avengers: Infinity War,299536
13,878,Science Fiction,Avengers: Infinity War,299536
14,18,Drama,Titanic,597
15,10749,Romance,Titanic,597
16,53,Thriller,Titanic,597
17,28,Action,Jurassic World,135397
18,12,Adventure,Jurassic World,135397
19,878,Science Fiction,Jurassic World,135397
20,53,Thriller,Jurassic World,135397
21,12,Adventure,The Lion King,420818
22,10751,Family,The Lion King,420818
23,878,Science Fiction,The Avengers,24428
24,28,Action,The Avengers,24428
25,12,Adventure,The Avengers,24428
26,28,Action,Furious 7,168259
27,53,Thriller,Furious 7,168259
28,28,Action,Avengers: Age of Ultron,99861
29,12,Adventure,Avengers: Age of Ultron,99861
30,878,Science Fiction,Avengers: Age of Ultron,99861
31,28,Action,Black Panther,284054
32,12,Adventure,Black Panther,284054
33,14,Fantasy,Black Panther,284054
34,878,Science Fiction,Black Panther,284054
35,14,Fantasy,Harry Potter and the Deathly Hallows: Part 2,12445
36,12,Adventure,Harry Potter and the Deathly Hallows: Part 2,12445
37,14,Fantasy,Star Wars: The Last Jedi,181808
38,12,Adventure,Star Wars: The Last Jedi,181808
39,878,Science Fiction,Star Wars: The Last Jedi,181808
40,28,Action,Star Wars: The Last Jedi,181808
41,16,Animation,Frozen II,330457
42,10751,Family,Frozen II,330457
43,12,Adventure,Frozen II,330457
44,28,Action,Jurassic World: Fallen Kingdom,351286
45,12,Adventure,Jurassic World: Fallen Kingdom,351286
46,878,Science Fiction,Jurassic World: Fallen Kingdom,351286
47,16,Animation,Frozen,109445
48,12,Adventure,Frozen,109445
49,10751,Family,Frozen,109445
50,10751,Family,Beauty and the Beast,321612
51,14,Fantasy,Beauty and the Beast,321612
52,10749,Romance,Beauty and the Beast,321612
53,28,Action,Incredibles 2,260513
54,12,Adventure,Incredibles 2,260513
55,16,Animation,Incredibles 2,260513
56,10751,Family,Incredibles 2,260513

In [13]:
# What is an API

In [14]:
api_key = "api_key=218fe53083b7bdd814bc7325af2dcb5d"

In [15]:
api_key

'api_key=218fe53083b7bdd814bc7325af2dcb5d'

In [16]:

pd.options.display.max_columns = 30

In [17]:
movie_id = 140607  # to know info on a particular movie we need id

In [18]:
movie_api = "https://api.themoviedb.org/3/movie/{}?" # general path of http requests

In [19]:
url = movie_api.format(movie_id) + api_key

In [20]:
url # for http request

'https://api.themoviedb.org/3/movie/140607?api_key=218fe53083b7bdd814bc7325af2dcb5d'

In [21]:
pip install requests

Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests) (1.26.9)
WARNING: You are using pip version 20.2.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [22]:
import requests

In [23]:
# now we have two options 
# we can simply copy url to browser to get data
#  but that is not scalable 
# we need to automate it

In [25]:
# automation
# done below 

# submitting http request 

r = requests.get(url)

# this returns a response object r

In [26]:
#here we call json method on our response object 
# this returns json encoded content of our response 

data = r.json()

In [27]:
data

{'adult': False,
 'backdrop_path': '/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/tdQzRSk4PXX6hzjLcQWHafYtZTI.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 80.523,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.3,
 'vote_count': 16812}

In [28]:
type(data)

dict

In [29]:
pd.Series(data)

adult                                                                False
backdrop_path                             /k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                          80.523
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                           7.3
vote_count                                                           16812
dtype: object

In [32]:
df = pd.Series(data).to_frame().T

In [33]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,80.523,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.3,16812

In [34]:
#alternative 


pd.json_normalize(data, sep="_")

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,80.523,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.3,16812,10,Star Wars Collection,/tdQzRSk4PXX6hzjLcQWHafYtZTI.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [36]:

pd.json_normalize(data, record_path="genres", meta="title")

    id             name                         title
0   28           Action  Star Wars: The Force Awakens
1   12        Adventure  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens
3   14          Fantasy  Star Wars: The Force Awakens

In [39]:

pd.json_normalize(data, record_path="production_companies", meta="title")

,id,logo_path,name,origin_country,title
0,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

In [40]:
# to get movies between jan 2020 to feb end 2020

In [41]:
# let us first create an http request 
# url = general + api_key + query

discover_api = "https://api.themoviedb.org/3/discover/movie?"
query = "&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29"
 
    
    # to see otherpage we add &page=2 to query

In [42]:
url = discover_api + api_key + query

In [43]:
data = requests.get(url).json()

In [44]:
data

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'genre_ids': [28, 878, 35, 10751],
   'id': 454626,
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'overview': 'Based on the global blockbuster videogame franchise from Sega, Sonic the Hedgehog tells the story of the world’s speediest hedgehog as he embraces his new home on Earth. In this live-action adventure comedy, Sonic and his new best friend team up to defend the planet from the evil genius Dr. Robotnik and his plans for world domination.',
   'popularity': 469.264,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'release_date': '2020-02-12',
   'title': 'Sonic the Hedgehog',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 7592},
  {'adult': False,
   'backdrop_path': '/5DNROrQwVrnFcaNN4GSKd5oLXW0.jpg',
   'genre_ids': [16, 28, 53, 12, 14],
   'id': 571265,
   'original_language': 'ja',
   'original_title': 'デジモンアドベンチャー LAST EVOLUTION 絆',
   'overview': 'Tai is now a university student, living alone, working hard at school, and working every day, but with his future still undecided. Meanwhile, Matt and others continue to work on Digimon incidents and activities that help people with their partner Digimon. When an unprecedented phenomenon occurs, the DigiDestined discover that when they grow up, their relationship with their partner Digimon will come closer to an end.  As a countdown timer activates on the Digivice, they realize that the more they fight with their partner Digimon, the faster their bond breaks. Will they fight for others and lose their partner? The time to choose and decide is approaching fast. There is a short time before “chosen children” will become adults. This is the last adventure of Tai and Agumon.',
   'popularity': 225.537,
   'poster_path': '/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg',
   'release_date': '2020-02-21',
   'title': 'Digimon Adventure: Last Evolution Kizuna',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 105},
  {'adult': False,
   'backdrop_path': '/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg',
   'genre_ids': [16, 12, 28, 14],
   'id': 631132,
   'original_language': 'ja',
   'original_title': "ゴブリンスレイヤー -GOBLIN'S CROWN-",
   'overview': 'Goblin Slayer and his party head up to the snowy mountains in the north after receiving that request from the Sword Maiden to find any information on the Noble Fencer that disappeared after leaving to slay some goblins. A small village gets attacked, they encounter a mysterious chapel, and something about how these goblins are acting bothers the Goblin slayer.  In order to save the captured Noble Fencer, the Goblin Slayer and his party head to an ancient fortress covered in snow to face off with a powerful foe and a horde of goblins!',
   'popularity': 164.174,
   'poster_path': '/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg',
   'release_date': '2020-02-01',
   'title': "Goblin Slayer: Goblin's Crown",
   'video': False,
   'vote_average': 7.6,
   'vote_count': 159},
  {'adult': False,
   'backdrop_path': '/3N316jUSdhvPyYTW29G4v9ebbcS.jpg',
   'genre_ids': [53, 28, 80],
   'id': 38700,
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'popularity': 149.852,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'release_date': '2020-01-15',
   'title': 'Bad Boys for Life',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 6921},
  {'adult': False,
   'backdrop_path': '/jiqD14fg7UTZOT6qgvzTmfRYpWI.jpg',
   'genre_ids': [28, 80],
   'id': 495764,
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'popularity': 121.113,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'release_date': '2020-02-05',
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'video': False,
   'vote_average': 7,
   'vote_count': 8626},
  {'adult': False,
   'backdrop_path': '/aiQICxiWNcOsJruYxdPuhb6WtWu.jpg',
   'genre_ids': [9648, 18, 27, 12, 16],
   'id': 658558,
   'original_language': 'ja',
   'original_title': '劇場版 巨蟲列島',
   'overview': "After an airplane crash during a school trip, Oribe Mutsumi and her classmates were stranded on a seemingly deserted island. Mutsumi found the other survivors, and used her wilderness knowledge to help them. She expects that they will be rescued in about three days, which doesn't seem so long to endure. However, she didn't account for the fact that the island is populated with gigantic killer insects. Her knowledge of butterflies, wasps, and more may be the only thing that will help any of her classmates survive to be rescued!",
   'popularity': 107.722,
   'poster_path': '/uJFki1BLHvEi4gaPCJvy9SZQZpx.jpg',
   'release_date': '2020-01-10',
   'title': 'The Island of Giant Insects',
   'video': False,
   'vote_average': 4.5,
   'vote_count': 14},
  {'adult': False,
   'backdrop_path': '/oj9pEWQq5higRzKWiE8f0d5hBSb.jpg',
   'genre_ids': [53, 27, 18],
   'id': 617708,
   'original_language': 'es',
   'original_title': 'La Llorona',
   'overview': 'Accused of the genocide of Mayan people, retired general Enrique is trapped in his mansion by massive protests. Abandoned by his staff, the indignant old man and his family must face the devastating truth of his actions and the growing sense that a wrathful supernatural force is targeting them for his crimes.',
   'popularity': 121.77,
   'poster_path': '/n2O3cSuxSKlnCiEXI2CB5auXA2G.jpg',
   'release_date': '2020-01-22',
   'title': 'La Llorona',
   'video': False,
   'vote_average': 6.5,
   'vote_count': 241},
  {'adult': False,
   'backdrop_path': '/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg',
   'genre_ids': [10751, 16, 12, 35, 14],
   'id': 508439,
   'original_language': 'en',
   'original_title': 'Onward',
   'overview': 'In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.',
   'popularity': 81.442,
   'poster_path': '/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg',
   'release_date': '2020-02-29',
   'title': 'Onward',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 4901},
  {'adult': False,
   'backdrop_path': '/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg',
   'genre_ids': [27],
   'id': 575088,
   'original_language': 'ru',
   'original_title': 'Яга. Кошмар тёмного леса',
   'overview': 'The young family who moved to a new apartment on the outskirts of the city. The nanny hired by them for the newborn daughter quickly gained confidence. However, the older boy, Egor, talks about the frightening behavior of a woman, but his parents do not believe him. The surveillance cameras installed by the father for comfort only confirm everything is in order. Then one day, Egor, returning home, finds no trace of either the nanny or the little sister, and the parents are in a strange trance and do not even remember that they had a daughter. Then Egor, together with his friends, goes in search, during which it turns out that the nanny is an ancient Slavic demon, popularly known as Baba Yaga.',
   'popularity': 87.264,
   'poster_path': '/8m5HTXzwewlfXhtZtLlLts53YTW.jpg',
   'release_date': '2020-02-27',
   'title': 'Baba Yaga: Terror of the Dark Forest',
   'video': False,
   'vote_average': 6,
   'vote_count': 178},
  {'adult': False,
   'backdrop_path': '/cpTjuXuNTEDJc7qJEiUbUGcn85F.jpg',
   'genre_ids': [27, 35],
   'id': 664168,
   'original_language': 'en',
   'original_title': 'Fat Ass Zombies',
   'overview': 'In a sleepy town, one man, a wannabe horror film director is about to have his life and the world he knows change forever. Finally, he gets the big break he has been waiting a lifetime for, but its not Hollywood knocking on his door.',
   'popularity': 94.036,
   'poster_path': '/btrers8SNujMJhxjLvjh7AJpN3T.jpg',
   'release_date': '2020-02-18',
   'title': 'Fat Ass Zombies',
   'video': False,
   'vote_average': 4.8,
   'vote_count': 44},
  {'adult': False,
   'backdrop_path': '/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg',
   'genre_ids': [12, 10751, 18],
   'id': 481848,
   'original_language': 'en',
   'original_title': 'The Call of the Wild',
   'overview': 'Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Yukon during the Gold Rush of the 1890s. As the newest rookie on a mail delivery dog sled team—and later its leader—Buck experiences the adventure of a lifetime, ultimately finding his true place in the world and becoming his own master.',
   'popularity': 58.363,
   'poster_path': '/33VdppGbeNxICrFUtW2WpGHvfYc.jpg',
   'release_date': '2020-02-19',
   'title': 'The Call of the Wild',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 2833},
  {'adult': False,
   'backdrop_path': '/kLsrE6q4ld144ECBkydZ4dV8t9T.jpg',
   'genre_ids': [27],
   'id': 648990,
   'original_language': 'es',
   'original_title': 'La casa',
   'overview': 'Responding to an urgent call for help, a police officer becomes trapped by the evil spirits of a cursed house.',
   'popularity': 78.429,
   'poster_path': '/fvTGWaQejnHQBZbEOrdbb38NBTC.jpg',
   'release_date': '2020-01-30',
   'title': 'La Casa',
   'video': False,
   'vote_average': 6.4,
   'vote_count': 74},
  {'adult': False,
   'backdrop_path': '/prNSFGKGjtc2lYEr8zjDastCeEg.jpg',
   'genre_ids': [35, 10749],
   'id': 552687,
   'original_language': 'ja',
   'original_title': 'ヲタクに恋は難しい',
   'overview': 'An effervescent musical about one of the most unlikely couples seen on screen: two Otaku intent on hiding their nerdiness from their colleagues!',
   'popularity': 70.646,
   'poster_path': '/9JV0LOcazudqEcz2NNOMqEIzACz.jpg',
   'release_date': '2020-02-07',
   'title': 'Wotakoi: Love is Hard for Otaku',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 38},
  {'adult': False,
   'backdrop_path': '/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg',
   'genre_ids': [10749, 18],
   'id': 342470,
   'original_language': 'en',
   'original_title': 'All the Bright Places',
   'overview': 'Two teens facing personal struggles form a powerful bond as they embark on a cathartic journey chronicling the wonders of Indiana.',
   'popularity': 58.451,
   'poster_path': '/4SafxuMKQiw4reBiWKVZJpJn80I.jpg',
   'release_date': '2020-02-28',
   'title': 'All the Bright Places',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 2328},
  {'adult': False,
   'backdrop_path': '/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg',
   'genre_ids': [27, 878, 53],
   'id': 736509,
   'original_language': 'en',
   'original_title': 'Intersect',
   'overview': 'A group of young Miskatonic University scientists invent a time machine, only to learn that they are being manipulated by mysterious, unseen forces from another dimension.',
   'popularity': 64.284,
   'poster_path': '/e6hgmD0P133bW5EH1kfhscwXN2a.jpg',
   'release_date': '2020-02-12',
   'title': 'Intersect',
   'video': False,
   'vote_average': 5.8,
   'vote_count': 44},
  {'adult': False,
   'backdrop_path': '/jeiVmutYPZyQRSYk7OvyWENGIrA.jpg',
   'genre_ids': [27, 9648, 53],
   'id': 555974,
   'original_language': 'en',
   'original_title': 'Brahms: The Boy II',
   'overview': 'After a family moves into the Heelshire Mansion, their young son soon makes friends with a life-like doll called Brahms.',
   'popularity': 52.922,
   'poster_path': '/tIpGQ9uuII7QVFF0GHCFTJFfXve.jpg',
   'release_date': '2020-02-20',
   'title': 'Brahms: The Boy II',
   'video': False,
   'vote_average': 6,
   'vote_count': 969},
  {'adult': False,
   'backdrop_path': '/27nn2YJBwY7a1etZ0AiIcOrIgu3.jpg',
   'genre_ids': [18, 10749],
   'id': 664413,
   'original_language': 'pl',
   'original_title': '365 dni',
   'overview': 'A woman falls victim to a dominant mafia boss, who imprisons her and gives her one year to fall in love with him.',
   'popularity': 58.42,
   'poster_path': '/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg',
   'release_date': '2020-02-07',
   'title': '365 Days',
   'video': False,
   'vote_average': 7,
   'vote_count': 6563},
  {'adult': False,
   'backdrop_path': '/gMRBMlcgp5yQeqJ0OAff0uyZfnw.jpg',
   'genre_ids': [12, 10751],
   'id': 657811,
   'original_language': 'de',
   'original_title': 'Lassie - Eine abenteuerliche Reise',
   'overview': "12-year-old Florian and his beloved dog Lassie live in an idyllic village in the German countryside. When Florian's father loses his job, the family have to move into a small apartment where there are no dogs allowed. Lassie is given away to another family, but Florian and Lassie yearn to be reunited again so Florian sets out on an adventure to find his best friend.",
   'popularity': 56.998,
   'poster_path': '/3rUc7jHNvWIPMkjRcl6Tr8GtwwO.jpg',
   'release_date': '2020-02-20',
   'title': 'Lassie Come Home',
   'video': False,
   'vote_average': 6.6,
   'vote_count': 81},
  {'adult': False,
   'backdrop_path': '/brLBKS5vQfP1vjiupHqa3xg1XQC.jpg',
   'genre_ids': [14, 12, 35],
   'id': 520725,
   'original_language': 'fr',
   'original_title': 'Le prince oublié',
   'overview': 'Djibi lives alone with Sofia, his 8-year-old daughter. Every night, he invents a story to put him to sleep. When Sofia falls asleep, these extraordinary stories come to life somewhere in an imaginary world inhabited by knights, pirates and other dragons. In this world that belongs only to them, Sofia is always the princess to save, and the brave Prince is none other than Djibi himself.  But 3 years later, the entry of Sofia to the college will mark the end of her childhood. To the despair of her father, she no longer needs her stories at night. On the one hand, Djibi will have to accept that his daughter will grow up and move away from him. On the other hand, in the World of Stories, the Prince will have to face the most epic of all his adventures. Find your destiny in a world where it no longer has a place.',
   'popularity': 47.558,
   'poster_path': '/iFcSfoMu9hQIX4t0CxIkDJKgIES.jpg',
   'release_date': '2020-02-12',
   'title': 'The Lost Prince',
   'video': False,
   'vote_average': 5.8,
   'vote_count': 278},
  {'adult': False,
   'backdrop_path': '/xcUf6yIheo78btFqihlRLftdR3M.jpg',
   'genre_ids': [10751, 14, 12],
   'id': 448119,
   'original_language': 'en',
   'original_title': 'Dolittle',
   'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.',
   'popularity': 47.254,
   'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg',
   'release_date': '2020-01-01',
   'title': 'Dolittle',
   'video': False,
   'vote_average': 6.7,
   'vote_count': 2910}],
 'total_pages': 237,
 'total_results': 4726}

In [46]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/stmYfCUGd8...",237,4726
1,1,"{'adult': False, 'backdrop_path': '/5DNROrQwVr...",237,4726
2,1,"{'adult': False, 'backdrop_path': '/ySHlkHDbXz...",237,4726
3,1,"{'adult': False, 'backdrop_path': '/3N316jUSdh...",237,4726
4,1,"{'adult': False, 'backdrop_path': '/jiqD14fg7U...",237,4726
5,1,"{'adult': False, 'backdrop_path': '/aiQICxiWNc...",237,4726
6,1,"{'adult': False, 'backdrop_path': '/oj9pEWQq5h...",237,4726
7,1,"{'adult': False, 'backdrop_path': '/xFxk4vnirO...",237,4726
8,1,"{'adult': False, 'backdrop_path': '/rc8WAwoTTZ...",237,4726
9,1,"{'adult': False, 'backdrop_path': '/cpTjuXuNTE...",237,4726
10,1,"{'adult': False, 'backdrop_path': '/yFRpUmsreY...",237,4726
11,1,"{'adult': False, 'backdrop_path': '/kLsrE6q4ld...",237,4726
12,1,"{'adult': False, 'backdrop_path': '/prNSFGKGjt...",237,4726
13,1,"{'adult': False, 'backdrop_path': '/tcrNJfyNEI...",237,4726
14,1,"{'adult': False, 'backdrop_path': '/sCtJkYwBrJ...",237,4726
15,1,"{'adult': False, 'backdrop_path': '/jeiVmutYPZ...",237,4726
16,1,"{'adult': False, 'backdrop_path': '/27nn2YJBwY...",237,4726
17,1,"{'adult': False, 'backdrop_path': '/gMRBMlcgp5...",237,4726
18,1,"{'adult': False, 'backdrop_path': '/brLBKS5vQf...",237,4726
19,1,"{'adult': False, 'backdrop_path': '/xcUf6yIheo...",237,4726

In [47]:
pd.DataFrame(data["results"])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,"[28, 878, 35, 10751]",454626,en,Sonic the Hedgehog,Based on the global blockbuster videogame fran...,469.264,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,2020-02-12,Sonic the Hedgehog,False,7.4,7592
1,False,/5DNROrQwVrnFcaNN4GSKd5oLXW0.jpg,"[16, 28, 53, 12, 14]",571265,ja,デジモンアドベンチャー LAST EVOLUTION 絆,"Tai is now a university student, living alone,...",225.537,/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg,2020-02-21,Digimon Adventure: Last Evolution Kizuna,False,7.8,105
2,False,/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg,"[16, 12, 28, 14]",631132,ja,ゴブリンスレイヤー -GOBLIN'S CROWN-,Goblin Slayer and his party head up to the sno...,164.174,/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg,2020-02-01,Goblin Slayer: Goblin's Crown,False,7.6,159
3,False,/3N316jUSdhvPyYTW29G4v9ebbcS.jpg,"[53, 28, 80]",38700,en,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,149.852,/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg,2020-01-15,Bad Boys for Life,False,7.2,6921
4,False,/jiqD14fg7UTZOT6qgvzTmfRYpWI.jpg,"[28, 80]",495764,en,Birds of Prey (and the Fantabulous Emancipatio...,"Harley Quinn joins forces with a singer, an as...",121.113,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,2020-02-05,Birds of Prey (and the Fantabulous Emancipatio...,False,7.0,8626
5,False,/aiQICxiWNcOsJruYxdPuhb6WtWu.jpg,"[9648, 18, 27, 12, 16]",658558,ja,劇場版 巨蟲列島,"After an airplane crash during a school trip, ...",107.722,/uJFki1BLHvEi4gaPCJvy9SZQZpx.jpg,2020-01-10,The Island of Giant Insects,False,4.5,14
6,False,/oj9pEWQq5higRzKWiE8f0d5hBSb.jpg,"[53, 27, 18]",617708,es,La Llorona,"Accused of the genocide of Mayan people, retir...",121.770,/n2O3cSuxSKlnCiEXI2CB5auXA2G.jpg,2020-01-22,La Llorona,False,6.5,241
7,False,/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg,"[10751, 16, 12, 35, 14]",508439,en,Onward,"In a suburban fantasy world, two teenage elf b...",81.442,/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg,2020-02-29,Onward,False,7.8,4901
8,False,/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg,[27],575088,ru,Яга. Кошмар тёмного леса,The young family who moved to a new apartment ...,87.264,/8m5HTXzwewlfXhtZtLlLts53YTW.jpg,2020-02-27,Baba Yaga: Terror of the Dark Forest,False,6.0,178
9,False,/cpTjuXuNTEDJc7qJEiUbUGcn85F.jpg,"[27, 35]",664168,en,Fat Ass Zombies,"In a sleepy town, one man, a wannabe horror fi...",94.036,/btrers8SNujMJhxjLvjh7AJpN3T.jpg,2020-02-18,Fat Ass Zombies,False,4.8,44
10,False,/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg,"[12, 10751, 18]",481848,en,The Call of the Wild,Buck is a big-hearted dog whose blissful domes...,58.363,/33VdppGbeNxICrFUtW2WpGHvfYc.jpg,2020-02-19,The Call of the Wild,False,7.6,2833
11,False,/kLsrE6q4ld144ECBkydZ4dV8t9T.jpg,[27],648990,es,La casa,"Responding to an urgent call for help, a polic...",78.429,/fvTGWaQejnHQBZbEOrdbb38NBTC.jpg,2020-01-30,La Casa,False,6.4,74
12,False,/prNSFGKGjtc2lYEr8zjDastCeEg.jpg,"[35, 10749]",552687,ja,ヲタクに恋は難しい,An effervescent musical about one of the most ...,70.646,/9JV0LOcazudqEcz2NNOMqEIzACz.jpg,2020-02-07,Wotakoi: Love is Hard for Otaku,False,7.2,38
13,False,/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg,"[10749, 18]",342470,en,All the Bright Places,Two teens facing personal struggles form a pow...,58.451,/4SafxuMKQiw4reBiWKVZJpJn80I.jpg,2020-02-28,All the Bright Places,False,7.7,2328
14,False,/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg,"[27, 878, 53]",736509,en,Intersect,A group of young Miskatonic University scienti...,64.284,/e6hgmD0P133bW5EH1kfhscwXN2a.jpg,2020-02-12,Intersect,False,5.8,44
15,False,/jeiVmutYPZyQRSYk7OvyWENGIrA.jpg,"[27, 9648, 53]",555974,en,Brahms: The Boy II,After a family moves into the Heelshire Mansio...,52.922,/tIpGQ9uuII7QVFF0GHCFTJFfXve.jpg,2020-02-20,Brahms: The Boy II,False,6.0,969
16,False,/27nn2YJBwY7a1etZ0AiIcOrIgu3.jpg,"[18, 10749]",664413,pl,365 dni,"A woman falls victim to a dominant mafia boss,...",58.420,/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg,2020-02-07,365 Days,False,7.0,6563
17,False,/gMRBMlcgp5yQeqJ0OAff0uyZfnw.jpg,"[12, 10751]",657811,de,Lassie - Eine abenteuerliche Reise,12-year-old Florian and his beloved dog Lassie...,56.998,/3rUc7jHNvWIPMkjRcl6Tr8GtwwO.jpg,2020-02-20,Lassie Come Home,False,6.6,81
18,False,/brLBKS5vQfP1vjiupHqa3xg1XQC.jpg,"[14, 12, 35]",520725,fr,Le prince oublié,"Djibi lives alone with Sofia, his 8-year-old d...",47.558,/iFcSfoMu9hQIX4t0CxIkDJKgIES.jpg,2020-02-12,The Lost Prince,False,5.8,278
19,False,/xcUf6yIheo78btFqihlRLftdR3M.jpg,"[10751, 14, 12]",448119,en,Dolittle,"After losing his wife seven years earlier, the...",47.254,/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg,2020-01-01,Dolittle,False,6.7,2910

In [48]:
# Importing and Saving the movies dataset(best practise)

In [49]:
movie_id = [0, 299534, 19995, 140607, 299536, 597, 135397,
            420818, 24428, 168259, 99861, 284054, 12445,
            181808, 330457, 351286, 109445, 321612, 260513]

In [50]:
basic_url = 'https://api.themoviedb.org/3/movie/{}?{}'

In [52]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie, api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data)
        
df = pd.DataFrame(json_list)

In [53]:
requests.get(basic_url.format(0, api_key)).status_code

404

In [54]:
df = df.loc[:, ["title", "id", "revenue", "genres", "belongs_to_collection", "runtime"]].sort_values(by = "revenue",
                                                                                                ascending = False)

In [55]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
1,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [56]:
# now we are storing the data frames to a json file

In [ ]:
df.to_json("movies.json", orient= "records") # conversion of df to json





#end 



with open("movies.json") as f: # loading it onto the file
    data = json.load(f)
    
data

In [ ]:
data

In [58]:
pd.json_normalize(data) #again opening file to df

,title,id,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg,/syGPZuzcHBBHMLiNDN0x0Tms4Fk.jpg,NaN
1,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/tdQzRSk4PXX6hzjLcQWHafYtZTI.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
6,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,762512.0,The Lion King (Reboot) Collection,/dGpIRn4Nqi63JO1RlKxjcPbQSAw.jpg,/jIgM7YNVft0YGeXsqrh3oG5TWLx.jpg,NaN
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/nVMyxXziZVZXHP3yW26SRdAB9te.jpg,/gC9BUFiROWtaMsluGYziZ6lR4OJ.jpg,NaN
9,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",103,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
11,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.0,Black Panther Collection,/uVnN6KnfDuHiC8rsVsSc7kk0WRD.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
13,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",152,10.0,Star Wars Collection,/tdQzRSk4PXX6hzjLcQWHafYtZTI.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",102,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/xMX1jZyObVeWUxDQmt53X6jzIO4.jpg,/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg,NaN

In [61]:
pd.json_normalize(data, "genres", "title")

       id             name                                         title
0      28           Action                                        Avatar
1      12        Adventure                                        Avatar
2      14          Fantasy                                        Avatar
3     878  Science Fiction                                        Avatar
4      12        Adventure                             Avengers: Endgame
5     878  Science Fiction                             Avengers: Endgame
6      28           Action                             Avengers: Endgame
7      18            Drama                                       Titanic
8   10749          Romance                                       Titanic
9      28           Action                  Star Wars: The Force Awakens
10     12        Adventure                  Star Wars: The Force Awakens
11    878  Science Fiction                  Star Wars: The Force Awakens
12     14          Fantasy                  Star Wars: The Force Awakens
13     12        Adventure                        Avengers: Infinity War
14     28           Action                        Avengers: Infinity War
15    878  Science Fiction                        Avengers: Infinity War
16     28           Action                                Jurassic World
17     12        Adventure                                Jurassic World
18    878  Science Fiction                                Jurassic World
19     53         Thriller                                Jurassic World
20     12        Adventure                                 The Lion King
21  10751           Family                                 The Lion King
22     16        Animation                                 The Lion King
23    878  Science Fiction                                  The Avengers
24     28           Action                                  The Avengers
25     12        Adventure                                  The Avengers
26     28           Action                                     Furious 7
27     53         Thriller                                     Furious 7
28     80            Crime                                     Furious 7
29     12        Adventure                                     Furious 7
30  10751           Family                                     Frozen II
31     16        Animation                                     Frozen II
32     12        Adventure                                     Frozen II
33     35           Comedy                                     Frozen II
34     14          Fantasy                                     Frozen II
35     28           Action                       Avengers: Age of Ultron
36     12        Adventure                       Avengers: Age of Ultron
37    878  Science Fiction                       Avengers: Age of Ultron
38     28           Action                                 Black Panther
39     12        Adventure                                 Black Panther
40    878  Science Fiction                                 Black Panther
41     14          Fantasy  Harry Potter and the Deathly Hallows: Part 2
42     12        Adventure  Harry Potter and the Deathly Hallows: Part 2
43    878  Science Fiction                      Star Wars: The Last Jedi
44     28           Action                      Star Wars: The Last Jedi
45     12        Adventure                      Star Wars: The Last Jedi
46     28           Action                Jurassic World: Fallen Kingdom
47     12        Adventure                Jurassic World: Fallen Kingdom
48    878  Science Fiction                Jurassic World: Fallen Kingdom
49     16        Animation                                        Frozen
50  10751           Family                                        Frozen
51     12        Adventure                                        Frozen
52     14          Fantasy                                        Frozen
53  10751           Family                          Beauty and the Beast
54     14          Fantasy                          Beauty and the Beast
55  10749          Romance                          Beauty and the Beast
56     28           Action                                 Incredibles 2
57     12        Adventure                                 Incredibles 2
58     16        Animation                                 Incredibles 2
59  10751           Family                                 Incredibles 2